.flex-row {
  display: flex;
  position: relative;
}

.flex-column {
  display: flex;
  flex-flow: column;
  position: relative;
}

.space-between {
  justify-content: space-between;
  align-content: space-between;
}

.space-around {
  align-content: space-around;
  justify-content: space-around;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.jself-center {
  justify-self: center;
}

.jself-start {
  justify-self: flex-start;
}

.jself-end {
  justify-self: flex-end;
}

.jself-baseline {
  justify-self: baseline;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.self-center {
  align-self: center;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-baseline {
  align-self: baseline;
}

.flex-column-center {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-reverse {
  flex-wrap: wrap-reverse;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-2-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.text-breakAll {
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
}

.text-break {
  white-space: normal;
  word-break: normal;
  word-wrap: break-word;
}

.text-3-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.text-pre-wrap {
  white-space: pre-wrap
}

.text-pre {
  white-space: pre
}

.text-pre-line {
  white-space: pre-line
}

.shrink-0 {
  flex-shrink: 0;
}

// position
.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.p-fixed {
  position: fixed;
}

.lt-0 {
  left: 0;
  top: 0;
}

.lb-0 {
  left: 0;
  bottom: 0;
}

.rt-0 {
  right: 0;
  top: 0;
}

.rb-0 {
  right: 0;
  bottom: 0;
}

.b-box {
  box-sizing: border-box;
}

.c-box {
  box-sizing: content-box;
}

// display
.d-block {
  display: block !important;
}

.d-inline {
  display: inline-block !important;
}

.d-none {
  // why not hide ? avoid to override other library
  display: none !important;
}

// scroll
.y-auto {
  overflow-y: auto;
}

.x-auto {
  overflow-x: auto;
}

.y-scroll {
  overflow-y: scroll;
}

.x-scroll {
  overflow-x: scroll;
}

.over-h {
  overflow: hidden;
}