// background color
$main: #2784FF;
$minor: #EDF6FF;
$content: #FAFBFC;
$divide: #E4E7EB;
$success: #44C28C;
$success-minor: #E5F5EE;
$warn: #E9A923;
$warn-minor: #FBF5EA;
$error: #EE4040;
$error-minor: #FDEBEC;
$end: #999999;
// font color
$fc-red: #EE4040;
$fc-white: #FFFFFF;
$fc-green: #44C28C;
$fc-blue: #2784FF;
$fc-grey: #666666;

$fc-regular: #222222;
$fc-main: #222222;
$fc-less: #999999;

// navigator
$fc-nav-normal: #222222;
$fc-nav-active: #2784FF;

$bt-main:#2784FF;
$bt-hover:#529dff;
$bt-active:#2376E5;


$bt-c-main:white;
$bt-c-hover:#EDEDED;;
$bt-c-active:#E6E6E6;